{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}
Bienvenue sur iKanban 🚀
{% endblock %}

{% block body %}
    <p class="text-center mt-4">Connecté en tant que {{ app.user.nom }}</p>
    <p class="text-center">
        <a href="{{ path('projet_index') }}" class="btn btn-primary">Voir mes Projets</a>
    </p>
{% endblock %}
